html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: sans-serif;
}

@font-face {
    font-family: 'Some Time Later';
    src: url('../fonts/some_time_later.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1.main {
    font-family: "Some Time Later"
}

main.main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto
}

textarea.main {
    width: 100%;
    height: 50px
}

.footer.main {
    margin-top: 20px
}

@media(min-width: 640px) {
    main.main {
        max-width: none
    }

    textarea.main {
        width: 300px
    }
}

.wrapper.card_text {
    position: relative;
    display: inline-block;
    text-align: center;
    color: var(--theme-color);
    font-family: "Some Time Later";
    font-size: var(--theme-fontSize)
}

.centered.card_text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%)
}

img.card_text {
    display: block;
    height: auto;
    width: 100%
}

.form-group-container {
    display: flex;
    gap: 1em;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.form-group label {
    margin-bottom: 0.3em;
    text-align: center;
    width: 100%;
}

.pure-form-stacked label,
.pure-form-stacked select,
.pure-form-stacked input[type="number"],
.pure-form-stacked input[type="color"],
.pure-form-stacked button {
    margin: 0;
}
